/* src/styles.scss */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    height: 100%;
  }
  body {
    background-color: #fdf3f4;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
  }
  
  /* Light Theme Variables */
  :root {
    --primary-color: #1f82a0;
    --secondary-color: #18286e;
    --background-color: #e0f7fa;
    --text-color: #ffffff;
    --hover-color: #176781;
    --chat-bg-color: #e0f7fa;
    --message-sent-bg-color: #e0f7fa;
    --message-received-bg-color: #e0f7fa;
    --chat-input-bg: #fff;
    --toggle-bar-bg: #1f82a0;
    --toggle-bar-after-bg: #18286e;
    --chat-text-color: #000;
    --shine-color: rgba(255, 255, 255, 0.5);
    --border-color: #1976ed;
    --box-bg-color: #fdf3f4;
    --scrollbar-track-color: #f0f0f0;
    --scrollbar-thumb-color: #c0c0c0;
    --scrollbar-thumb-hover-color: #a0a0a0;
    --send-button-bg-color: #1f82a0;
    --send-button-icon-color: #ffffff;
    --send-button-hover-color: #176781;
    --send-button-active-color: #114d5c;
    --send-button-focus-color: rgba(31, 130, 160, 0.3);
    --active-color: #1f6d8c;
    --chat-container-bg-color: #fff;
    --attachment-button-icon-color: #000;
    --footer-bg-color: #fff;
    --option-button-bg-color: #18286e;
  }
  
  /* Dark Theme Variables */
  body.dark-theme {
    --primary-color: #121212;
    --secondary-color: #1e1e1e;
    --background-color: #222121;
    --text-color: #fff;
    --hover-color: #333;
    --chat-bg-color: #222121;
    --message-sent-bg-color: #263238;
    --message-received-bg-color: #37474f;
    --chat-input-bg: #2c2c2c;
    --toggle-bar-bg: #181616;
    --toggle-bar-after-bg: #362f2f;
    --chat-text-color: #fff;
    --shine-color: rgba(255, 255, 255, 0.2);
    --border-color: #1976ed;
    --box-bg-color: #292a2e;
    --scrollbar-track-color: #2c2c2c;
    --scrollbar-thumb-color: #5c5c5c;
    --scrollbar-thumb-hover-color: #7c7c7c;
    --send-button-bg-color: #ffffff;
    --send-button-icon-color: #080808;
    --send-button-hover-color: #5f5b55;
    --send-button-active-color: #6d655a;
    --send-button-focus-color: rgba(255, 152, 0, 0.3);
    --active-color: #333;
    --chat-container-bg-color: #222121;
    --attachment-button-icon-color: #fff;
    --footer-bg-color: #121212;
    --option-button-bg-color: #2c2828;
  }
  
  /* Apply Global Styles */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  